<div class="column">
  <h2>Visa Details </h2>
  <p> New guidlines were given due to covid-19 which may effect the Visa processesing. to learn more please advised to go through the following links.</p>

    <div class="insidenav">
      <a (click)="navigateToVisa('processing')">Processing Time</a>
      <a (click)="navigateToVisa('document')">Documents Check List</a>
      <a (click)="navigateToVisa('eligibility')">Eligibility Criteria</a>
      <a (click)="navigateToVisa('apply')">Apply Online</a>
      <router-outlet></router-outlet>
    </div>
</div>
