<br>
<label for="countryName">Enter Country Name</label>
<br>
<input type="text" name="countryName" id="countryName" [(ngModel)]="country">
{{country}}
<button (click)="searchUniversities()"> Search</button>

<br>
<select (click)="searchUniversities()" name="demo" id="#">
  <option selected="selected" value="united states">USA</option>
  <option value="canada"> Canada </option>
  <option value="India">India</option>
  <option value="Nepal"> Nepal</option>
  <option value="Japan">Japan</option>
  <!-- <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option> -->
  </select>


<table id="customers" *ngIf="showTable">
  <tr>
      <th>Country Code</th>
      <th>Country</th>
      <th>University Name</th>
      <th>Domains</th>
      <th>Web Pages</th>
      <th>Status</th>
  </tr>
  <!-- <tr>
      <td >{{university.alpha_two_code}}</td>
      <td>{{university.country}}</td>
      <td>{{university.name}}</td>
      <td>{{university.domains.length}}</td>
      <td>{{university.web_pages.length}}</td>
      <td>{{university.status}}</td>
  </tr>
  <tr>
      <td>{{university.alpha_two_code}}</td>
      <td>{{university.country}}</td>
      <td>{{university.name}}</td>
      <td>{{university.domains.length}}</td>
      <td>{{university.web_pages.length}}</td>
      <td>{{university.status}}</td>
  </tr> -->
  <tr *ngFor= "let university of universityList">
      <td>{{university.alpha_two_code}}</td>
      <td>{{university.country}}</td>
      <td>{{university.name}}</td>
      <td>{{university.domains.length}}</td>
      <td>{{university.web_pages.length}}</td>
      <td>{{university.status}}</td>
  </tr>

</table>
