.button {
  border-radius: 20px;
  text-align: left;
  color: rgb(75, 55, 2);
  margin: auto;
  overflow: hidden;
  background-color: #333;
}

/* Change color on hover */
.topnav a:hover {
  border-radius: 8px;
  background-color: #ddd;
  color: rgb(209, 129, 25);
}

